{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<div class="container text-center">
    <form method="POST">
        <h1>You Will Get This Conversion Page Soon It Is Under Development Server contact to admin Arjun Sharma At 7520084344 | AJ Programmings
        {% comment %} <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>

        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
            </div>

        </fieldset>
        <fieldset class="form-group">
            answer
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div> {% endcomment %}
    </h1>
    </form>
</div>

{% endblock content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion</title>
</head>
<body>
    <h1>You Will Get This Conversion PAge Soon It Is Under Development Server | AJ Programmings</h1>
</body>
</html> -->